<div class="input-field col s6">
    <label for="">First Name</label>
    <input type="text" class="form-control" id="Firstname"  ng-model="receipt.FirstName">
</div>


<div class="input-field col s6">
    <label for="">Receipt Name</label>
    <input type="text" class="form-control" id="Receiptname" ng-model="receipt.ReceiptName">
</div>

<div class="input-field col s6">
    <label for="">Reciept Price</label>
    <input type="text" class="form-control" id="Receiptprice"  ng-model="receipt.RecieptPrice">
</div>

<form action="#">
    <p>
        <input type="checkbox" id="test5" ng-model="receipt.IsComplete" />
        <label for="test5">Is Complete?</label>
    </p>
</form>

    <button ng-click="submit(receipt)">Submit</button>
