<h3>
    {{title}}
</h3>
<hr />
<form style="max-width: 500px;">

    <label>Name</label>
    <div class="input-field col s6">
       <input type="text" class="form-control" id="FirstName" ng-model="receipt.firstName" />
    </div>

    <label>Recept Name</label>
    <div class="input-field col s6">
        <input type="text" class="form-control" id="ReceiptName" ng-model="receipt.receiptName"/>
    </div>
  
    <label>Recept Price</label>
    <div class="input-field col s6">
        <input type="number" class="form-control" id="Recieptprice"  ng-model="receipt.recieptPrice" />
    </div>

    <div class="form-group checkbox">
        <label>
            <input type="checkbox" ng-model="active" />Active
        </label>

    </div>
    <a href="#!/list" class="btn btn-info">Back to List</a>
    <button type="submit" class="btn btn-default" ng-click="save()">
        Save
    </button>
</form>