<h3 class="center"><b>My Receipts<b></h3>

<div class="container">
    <table class="highlight responsive-table" >
        <thead>
            <tr>
                <th data-field="name">Buyer</th>
                <th data-field="name">Company Name</th>
                <th data-field="price">Price</th>
                <th data-field="price"></th>
                <th data-field="price"></th>
            </tr>
        </thead>
        
        <tbody class="pushUp">
            <tr ng-repeat="receipt in list" | filter:{isCompleted:false}| filter: searchText" class="highlight">
                <input type="checkbox" ng-model="receipt.isCompleted" ng-change="inputChange(receipt)">
                <td><a>{{receipt.firstName}}</a></td>
                <td><b>{{receipt.receiptName}}</b></td>
                <td><b>${{receipt.recieptPrice}}</b></td>
                <td><a href="#!/edit/{{receipt.id}}" class="btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td><a href="#!/delete/{{receipt.id}}" class="btn"> <i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
        </tbody>
    </table>
    
    <table class="centered">
        <div ng-model="total">
            <td><b>Total Receipt Amount :</b><h5>${{total}}</h5></td>
        </div>
</div>








